Flask==2.3.3
Flask-Cors==4.0.0
async-timeout==4.0.3
attrs==23.1.0
azure-common==1.1.28
azure-core==1.29.4
azure-cosmos==4.5.1
azure-identity==1.15.0
azure-keyvault-secrets==4.7.0
azure-search==1.0.0b2
azure-search-documents==11.4.0b8
azure-storage-blob==12.18.2